<mat-card class="">
  <mat-card-header>
    <div mat-card-avatar class=""></div>
        <mat-card-title>
          Lista de Filiais
        </mat-card-title>
        <mat-card-subtitle>...</mat-card-subtitle>
    <div fxLayout="row" fxLayoutAlign="start center" class="pad-left-sm pad-right-sm" fxFlex="">
    </div>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="affiliates?.length === 0" fxLayout="row" fxLayoutAlign="center center">
      <mat-list  >
        <mat-list-item >
          <mat-icon mat-list-icon>list</mat-icon>
          <p mat-line>Não há registros</p>
        </mat-list-item>
      </mat-list>
    </div>

    <mat-list>
      <h3 mat-subheader></h3>
      <mat-list-item *ngFor="let affiliate of affiliates | slice:startIntervalPages: endIntervalPages">
        <mat-icon mat-list-icon>business</mat-icon>
        <h4 mat-line>{{affiliate.name}}</h4>

          <mat-progress-bar   mode="determinate" [value]="(affiliate.totalCows/200)*100"></mat-progress-bar>
          <span class="progress-bar">{{(affiliate.totalCows/200)*100}}%</span>


        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu de ações para filial">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="affiliate._id">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="delete(affiliate._id)">
            <mat-icon>delete</mat-icon>
            <span>Remover</span>
          </button>
        </mat-menu>
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>
  </mat-card-content>

  <mat-paginator [length]="affiliates.length"
                 [pageSize]="itemsPerPage"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="functionPageEvent($event)"
  >

  </mat-paginator>

</mat-card>

 <div fxLayoutAlign="end end" style="margin-right: 20px; margin-top: 20px">
   <button  mat-button mat-fab class="mat-fab-position-bottom-right z-3"   [routerLink]="['new_record']">
     <mat-icon >add</mat-icon>
   </button>
 </div>


