<div class="info" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="50%">
    <mat-card fxLayout="row" fxLayoutAlign="center center"  class="total-cows">
      <mat-card-header>
        <mat-card-title>
          <p>Total de Vacas</p> <br>
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center center">
          <span> {{ listCows.length }}</span>
        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>
  </div>

  <div >
    <mat-card fxLayout="row" fxLayoutAlign="center center"  class="top-1-filial">
      <mat-card-header>
        <mat-card-title>
          <p>Filial #1</p> <br>
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center center">
          <div *ngIf="cowsPerAffiliate.length > 0">
            <span >{{ cowsPerAffiliate[0].name }}</span>
            <br>
            <span style="font-weight: bold;">{{ (cowsPerAffiliate[0].total / listCows.length) * 100| number: '2.0-2' }}%</span>
          </div>

        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>
  </div>
</div>

<mat-divider></mat-divider>

<div class="graphic" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="100%">
    <mat-card *ngIf="top5ChartData.length > 0" fxLayout="row" fxLayoutAlign="center center">

      <div>
        <div>
          <div style="display: block">
            <mat-card-title>
              <p>Distribuição de vacas por Filial</p> <br>
            </mat-card-title>
            <canvas baseChart
                    [datasets]="top5ChartData"
                    [labels]="top5ChartLabels"
                    [options]="top5ChartOptions"
                    [legend]="top5ChartLegend"
                    [plugins]="barChartPlugins"
                    [colors]="top5ChartColor"
                    [chartType]="top5ChartType">
            </canvas>
          </div>

        </div>
      </div>
    </mat-card>
  </div>

</div>
