<!--<div layout-gt-sm="row" layout-sm="column" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']" >-->
<!--    &lt;!&ndash;    <div flex-gt-sm="50">&ndash;&gt;-->
<!--    &lt;!&ndash;      <mat-card class="example-card">&ndash;&gt;-->
<!--    &lt;!&ndash;        <mat-card-header>&ndash;&gt;-->
<!--    &lt;!&ndash;          <div mat-card-avatar class="example-header-image"></div>&ndash;&gt;-->
<!--    &lt;!&ndash;          <mat-card-title>Shiba Inu</mat-card-title>&ndash;&gt;-->
<!--    &lt;!&ndash;          <mat-card-subtitle>Dog Breed</mat-card-subtitle>&ndash;&gt;-->
<!--    &lt;!&ndash;        </mat-card-header>&ndash;&gt;-->
<!--    &lt;!&ndash;        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">&ndash;&gt;-->
<!--    &lt;!&ndash;        <mat-card-content>&ndash;&gt;-->
<!--    &lt;!&ndash;          <p>&ndash;&gt;-->
<!--    &lt;!&ndash;            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.&ndash;&gt;-->
<!--    &lt;!&ndash;            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally&ndash;&gt;-->
<!--    &lt;!&ndash;            bred for hunting.&ndash;&gt;-->
<!--    &lt;!&ndash;          </p>&ndash;&gt;-->
<!--    &lt;!&ndash;        </mat-card-content>&ndash;&gt;-->
<!--    &lt;!&ndash;        <mat-card-actions>&ndash;&gt;-->
<!--    &lt;!&ndash;          <button mat-button>LIKE</button>&ndash;&gt;-->
<!--    &lt;!&ndash;          <button mat-button>SHARE</button>&ndash;&gt;-->
<!--    &lt;!&ndash;        </mat-card-actions>&ndash;&gt;-->
<!--    &lt;!&ndash;      </mat-card>&ndash;&gt;-->

<!--    &lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div flex="50">-->
<!--      <mat-card>Simple card</mat-card>-->
<!--    </div>-->

<!--    <div flex="50">-->
<!--      <mat-card>Simple card</mat-card>-->
<!--    </div>-->

<!--  &lt;!&ndash;  <div layout-gt-sm="row">&ndash;&gt;-->

<!--  &lt;!&ndash;    <div flex-gt-sm="50">&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-card>Simple card</mat-card>&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->

<!--  &lt;!&ndash;    <div flex-gt-sm="50">&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-card>Simple card</mat-card>&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->

<!--  &lt;!&ndash;  </div >&ndash;&gt;-->
<!--</div>-->



<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="50%">
    <mat-card fxLayout="row" fxLayoutAlign="center center">OK</mat-card>
  </div>
  <div fxFlex="50%">
    <mat-card fxLayout="row" fxLayoutAlign="center center">OK</mat-card>
  </div>

</div>

<div>
  <div >
    <mat-card fxLayout="row" fxLayoutAlign="center center">OK</mat-card>
  </div>
</div>

