

<mat-sidenav-container
  fxFill
  class="" (backdropClick)="close('backdrop')" >
  <mat-sidenav class="menu" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="">
      <button color="accent" mat-icon-button  aria-label="menu" (click)="close('toggle button')" >
        <mat-icon>menu_open</mat-icon>
      </button>
    </div>

    <mat-nav-list >
      <a  mat-list-item routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']" class="menu-item">
        <mat-icon class="tc-grey-50">home</mat-icon>Home
      </a>

      <a  mat-list-item routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['cows']" class="menu-item">
        <mat-icon class="tc-grey-50" svgIcon="cow"></mat-icon>Vacas
      </a>

      <a  mat-list-item routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['affiliates']" class="menu-item">
        <mat-icon class="tc-grey-50">business</mat-icon>Filiais
      </a>

      <a  mat-list-item routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['breeds']" class="menu-item">
        <mat-icon class="tc-grey-50">list</mat-icon>Raças
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content  fxLayout="column">
    <div fxFlex="95" >
      <div  class="topbar" fxLayoutAlign="start center">
        <button mat-icon-button  aria-label="menu" (click)="sidenav.open()" color="accent">
          <mat-icon>menu</mat-icon>
        </button>

        <div [routerLink]="['/']">
          <a style="text-decoration: none; color: white; cursor: pointer">
            <p> Speed Cow </p>
          </a>

        </div>
      </div>

      <router-outlet></router-outlet>
    </div>

  <div>

  </div>

    <sc-footer fxFlexAlign="center end"></sc-footer>

  </mat-sidenav-content>

</mat-sidenav-container>





