@include mat-core();
$mat-accent: (
  50 : #FFF3E0,
  100 : #FFE0B2,
  200 : #FFCC80,
  300 : #FFB74D,
  400 : #FFA726,
  500 : #FF9800,
  600 : #FB8C00,
  700 : #F57C00,
  800 : #EF6C00,
  900 : #E65100,
  A100 : #FFD180,
  A200 : #FFAB40,
  A400 : #FF9100,
  A700 : #FF6D00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
)
