@include mat-core();
$mat-warn: (
  50 : #FFEBEE,
  100 : #FFCDD2,
  200 : #EF9A9A,
  300 : #E57373,
  400 : #EF5350,
  500 : #F44336,
  600 : #E53935,
  700 : #D32F2F,
  800 : #C62828,
  900 : #B71C1C,
  A100 : #FF8A80,
  A200 : #FF5252,
  A400 : #FF1744,
  A700 : #D50000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
)
